$primary:#292929;
$primary-dark:#242424;
$primary-light:hsl(0, 0%, 18%);
$grey:#B0A6A6;
$secondary:#B93937;
$white:#F7F7F7;
$gradient-red:#CD1512;
$gradient-gray:#5E5E5E;


// sizes
$section-padding: 50px 10%;
$line-height: 1.5;
$font-size: 1.2rem;
$h1: 3.5rem;
$h2: 2.5rem;
$h3: 2.2rem;
$h4: 2rem;
$h5: 1.8rem;
$h6: 1.5rem;