@import '~/assets/colors.scss';
@import '~/assets/fonts.scss';
@import '~/assets/mixins.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}


body {
	font-family: 'Circe', system;
	background-color: $primary;
	color: $white;
	font-weight: 200;
	font-size: 1rem;
}

.page{
	p {
		color: $white;
		margin-bottom: 10px;
		padding: 0 50px 10px;
	} 
	a {
		color: $white;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		margin-bottom: 10px;
		&:hover{
			text-decoration: underline;
			text-decoration-color: $secondary;
		}
	}
	h4, h3, h2 {
		margin-bottom: 2rem;
	}
	h2 {
		border-left: 5px solid $secondary;
		font-size: 3rem;
		line-height: 1;
		display: inline-flex;
		padding-left: 1.5rem;
		margin: 3rem 0 3rem 50px;
	}
	ul {
		list-style-type: none;
		li {
			margin: 7px 0;
			display: flex;
			flex-wrap: nowrap;
			white-space: nowrap;
			line-height: 1.8rem;
			// font-size: 1.2rem;
			&::before {
				content: '';
				margin-top: 10px;
				margin-right: 20px;
				min-width: 20px;
				height: 5px;
				background: $secondary;
			}
		}
	}
}

@media (max-width: 950px) {
}
@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	section{
		padding: 0 30px;
		h2 {
			font-size: 2rem;
			margin-left: 25px;
		}
	}
}