@import '~/assets/colors.scss';
@import '~/assets/fonts.scss';
@import '~/assets/mixins.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}


body {
	font-family: 'Circe', system;
	background-color: $primary;
	color: $white;
	font-weight: 200;
	font-size: 16px;
	p {
		color: $white;
		font-size: $font-size;
		line-height: $line-height;
	} 
	a {
		color: $secondary;
		font-weight: inherit;
		font-size: $font-size;
		line-height: $line-height;
		&:hover{
			text-decoration: underline;
			text-decoration-color: $secondary;
		}
	}
	section {
		a, p{
			margin-bottom: 10px;
		}
		p{
			padding: 0 50px 10px;
		}
		ul {
			padding: 0 0 10px;
		}
	}
	h4, h3, h2 {
		margin-bottom: 2rem;
	}
	h1 {
		font-size: $h1;
	}
	h3 {
		font-size: $h3;
	}
	h4 {
		font-size: $h4;
	}
	h5 {
		font-size: $h5;
	}
	h6 {
		font-size: $h6;
	}
	h2 {
		font-size: $h2;
		border-left: 5px solid $secondary;
		line-height: 1;
		display: inline-flex;
		padding-left: 1.5rem;
		margin: 3rem 0 3rem 50px;
	}
	ul {
		list-style-type: '-';
		list-style-position: inside;
		list-style-image: linear-gradient(to left bottom, $secondary, $gradient-red);
		li {
			margin: 7px 0;
			line-height: $line-height;
			font-size: $font-size;
		}
	}
}

.page{
	margin-top: 100px;
}

@media (max-width: 950px) {
}
@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	section{
		padding: 0 30px;
		h2 {
			font-size: 2rem;
			margin-left: 25px;
		}
	}
}